#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

input,
label,
select {
  font-size: 1.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
}

input[type='submit'] {
  background-color: var(--bg-color-5);
}

select {
  background-color: var(--bg-color-2);
}
