#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

button,
input,
select {
  font-size: 1.5rem;
  margin: 1rem 0;
  padding: 0.5rem;
  border: none;
}

button {
  background-color: var(--bg-color-5);
}

select {
  background-color: var(--bg-color-1);
}

label {
  font-size: 1.5rem;
}

.error {
  color: var(--bg-color-2);
  font-size: 1rem;
  text-align: left;
}
