:root {
  --bg-color-1: #f3f3f0;
  --bg-color-2: #d5ecb8;
  --bg-color-3: #6f9f77;
  --bg-color-4: #517957;
  --bg-color-5: #d0a330;
  --bg-color-6: #27343a;

  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  color: var(--bg-color-1);
  background-color: var(--bg-color-6);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
